*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#wrapper{
    height: 100vh;
    overflow-y: auto;
    overflow-x: hidden;
    perspective: 20px;
}

.container{
    height: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    transform-style: preserve-3d;
    z-index: -1;
}

.background{
    transform: translateZ(-100px) scale(7);
}

.foreground{
    transform: translateZ(-30px) scale(3);
}

.background, .foreground{
    height: 100%;
    position: absolute;
    width: 100%;
    object-fit: cover;
    z-index: -1; 
}

h1{
    position: absolute;
    top: 6rem;
    font-size: 10rem;
    letter-spacing: 4px;
    color: white;
    text-shadow: 0,0,10px rgb(0, 0, 0, 0.5);
}

section{
    background-color: rgb(45, 45, 45);
    color: white;
    min-height: 100vh;
}

.secHeading{
    padding-top: 2rem;
    padding-left:10rem;
    font-size: 3rem;

}

.bg{
    position: relative;
    width: 100%;
    background-attachment: fixed;
    background-size: cover;
    height: 500px;
    
}




.bg1{
    background-image: url(bike.jpg);
}

.bg2{
    background-image: url(paragliding.jpg);
}

.bg3{
    background-image: url(surfing.png);
}

.text{
    font-size: 1.5rem;
    padding-left:10rem;
    padding-right: 10rem;  
    padding-top: 3rem;
    padding-bottom: 3rem;


}

.desc{
    display: flex;
    justify-content: center;
    padding-top: 220px;
    font-size: 3rem;
    font-weight: 400;

}